.card-main {
	padding: 20px;
	display: flex;
	flex-direction: column;
	width: 300px;
	border-radius: 5px;
}
.playlist-details {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 30px;
}
.playlist-details p {
	font-size: 18px;
	display: flex;
	text-align: justify;
	align-items: center;
	width: 100%;
	gap: 10px;
}
.playlist-name {
	font-weight: 600;
}

.playlist-saved span {
	font-weight: 600;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	cursor: pointer;
	margin-right: 5px;
}
.delete-playlist {
	color: orange;
}
.edit-playlist {
	color: green;
}
.remove-playlist {
	color: red;
}
.desc {
	font-size: 16px !important;
}
.watch-btn {
	text-decoration: none;
	background: blue;
	padding: 8px 0px;
	font-size: 18px !important;
	color: white;
	display: flex;
	justify-content: center;
	border-radius: 5px;
	margin-top: 10px;
	width: 100%;
}

/* player */
.player-div {
	width: 100%;
}
.player-div div {
	/* any media quere change here for video player _ current player */
	height: 100% !important;
	width: 100% !important;
}
.player-div div div {
	height: 100% !important;
	width: 100% !important;
}
.player-div div div iframe {
	border-radius: 5px;
	width: 100% !important;
	height: 100% !important;
}
