.search-div {
	border: 1px solid green;
	border-radius: 5px;
	width: 90%;
	max-width: 400px;
}
.search-div input,
button {
	height: 40px;
	background: transparent;
	padding: 5px 10px;
	outline: none;
	border: none;
	width: 100%;
	font-size: 18px;
}